<?php

 $title = 'My tags';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('tag', array('action'=>'add'));?>">Add new tag</a>
 </p>

 <table class="table">
 <tr>
     <th>Title</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($tags as $tag) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($tag->title);?></td>
     <td>
         <a href="<?php echo $this->url('tag',
             array('action'=>'edit', 'id' => $tag->id));?>">Edit</a>
         <a href="<?php echo $this->url('tag',
             array('action'=>'delete', 'id' => $tag->id));?>">Delete</a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>