<?php
	//var_dump($element);
	echo "<label>{$label}</label>";
	foreach ( $element->getValueOptions() as $option ) {
		//var_dump($option);
		echo "<input type=\"checkbox\" name=\"{$element->getAttribute('name')}[]\" value=\"{$option['value']}\">{$option['label']}";
	}