<?php
	echo $this->form()->openTag($form);
	foreach ($form as $element) :
		$inputErrorClass = '';
		$errors = $element->getMessages();
        
        // Does this element have errors ?
        if (count($errors) > 0 ) {        	
            $inputErrorClass = ' has-error';
        }
        
        ?>
    	<div class="form-group<?php echo $inputErrorClass; ?>">
        <?php 
        if ($element->getOption('required')) { $req = 'required'; }
        if (count($errors) > 0 ) {
        	foreach ($errors as $error) {
        		echo '<span>' . $error . '</span>';
        	} 
        }
        switch($element->getAttribute('type')) {
        	case 'hidden':
        		echo $this->partial('partial/hidden.phtml', array(
        		'name' => $element->getName(),
        		'value'	=> $element->getValue(),
        		));
        		break;
        	case 'select':
        		echo $this->partial('partial/select.phtml', array(
        			'options' => $element->getValueOptions(),
        			'name' => $element->getName(),
        			'value'	=> $element->getValue(),
        			'label' => $element->getLabel(),
        		));
        		break;
        	case 'checkbox':
        		echo $this->partial('partial/checkbox.phtml', array(
        			'element' => $element,
        			'name' => $element->getName(),
        			'value'	=> $element->getValue(),
        			'label' => $element->getLabel(),
        		));
        		break;
        	case 'multi_checkbox':
        			echo $this->partial('partial/multi-checkbox.phtml', array(
        			'element' => $element,
        			'value'	=> $element->getValue(),
        			'label' => $element->getLabel(),
        			));
        			break;
        	case 'text':
        		echo $this->partial('partial/input.phtml', array(
        			'name'	=> $element->getName(),
        			'value'	=> $element->getValue(),
        			'label' => $element->getLabel(),
        		));
        		break;
        	case 'password':
        			echo $this->partial('partial/password.phtml', array(
        			'name'	=> $element->getName(),
        			'value'	=> $element->getValue(),
        			'label' => $element->getLabel(),
        			));
        			break;
        	case 'submit':
        		echo $this->partial('partial/submit.phtml', array(
        			'value'	=> $this->form->get('submit')->getValue(),
        		));
        		break;
        }
        ?> 
    </div>
<?php 
endforeach; 
echo $this->form()->closeTag($form);