<label class="control-label"><?php echo $label; ?></label>
<select class="form-control" id="<?php echo $name; ?>" name="<?php echo $name; ?>">
	<?php
	foreach ($this->options as $key => $value) :
		if (isset($this->value) && $this->value == $key) {
			$selected = 'selected="selected"';
		} else {
			$selected = '';
		}	
		echo "<option value=\"{$key}\"{$selected}>{$value}</option>";
	endforeach;
	?>
</select>