<?php
	$title = $this->translate('Bookmarks');
	$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<table class="table">
	<tr>
		<th><?php echo $this->translate('Title'); ?></th>
		<th><?php echo $this->translate('Link') ?></th>
		<th><?php echo $this->translate('Catagory'); ?></th>
	</tr>
	<?php foreach ($bookmarks as $bookmark) : ?>
	<tr>
		<td><?php echo $this->escapeHtml($bookmark->title);?></td>
		<td><a href="<?php echo $this->escapeHtml($bookmark->link);?>" target="_blank"><?php echo $this->escapeHtml($bookmark->link);?></a></td>
		<td><?php echo $this->escapeHtml($bookmark->catagory);?></td>
	</tr>
	<?php endforeach; ?>
</table>