<?php
	$title = $this->translate('My bookmarks');
	$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('bookmark', array('action'=>'add'));?>"><?php echo $this->translate('Add new bookmark'); ?></a>
</p>
<table class="table">
 <tr>
     <th><?php echo $this->translate('Title'); ?></th>
     <th><?php echo $this->translate('Link') ?></th>
     <th><?php echo $this->translate('Catagory'); ?></th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($bookmarks as $bookmark) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($bookmark->title);?></td>
     <td><?php echo $this->escapeHtml($bookmark->link);?></td>
     <td><?php echo $this->escapeHtml($bookmark->catagory);?></td>
     <td>
         <a href="<?php echo $this->url('bookmark',
             array('action'=>'edit', 'id' => $bookmark->id));?>"><?php echo $this->translate('Edit'); ?></a>
         <a href="<?php echo $this->url('bookmark',
             array('action'=>'delete', 'id' => $bookmark->id));?>"><?php echo $this->translate('Delete'); ?></a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>